<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.car_type') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.car_type') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, CarType %>
              <%= link_to new_car_type_path(@car_type), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.car_type')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.car_type.id') -%></th>
                <th><%=t('activerecord.attributes.car_type.logo') -%></th>
                <th><%=t('activerecord.attributes.car_type.name') -%></th>
                <th><%=t('activerecord.attributes.car_type.fullname') -%></th>
                <th><%=t('activerecord.attributes.car_type.parentname') -%></th>
                <th><%=t('activerecord.attributes.car_type.salestate') -%></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @car_types) do |car_type| %>
                <td><%= @page = @page + 1   -%></td>
                <td><img src='<%= car_type.logo -%>' style="width:80px;height:50px;"/></td>
                <td><%= car_type.name -%></td>
                <td><%= car_type.fullname -%></td>
                <td><%= car_type.parentname -%></td>
                <td><%= car_type.salestate -%></td>
                <% if can? :read, car_type %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{car_type_path(car_type)}" %></td>
                <% end %>
                <% if can? :edit, car_type %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_car_type_path(car_type) %></td>
                <% end %>
                <% if can? :destroy, car_type %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), car_type, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @car_types %>
</section>
