<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.car_type') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.car_type'), car_types_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :edit, CarType %>
              <%= link_to edit_car_type_path(@car_type), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{car_types_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %> -->
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_type.logo')%>:
            </span></dt>
            <dd class="well">
              <img src='<%= @car_type.logo -%>' style="width:240px;height:150px;"/>
            </dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_type.car_brand')%>:
            </span></dt>
            <dd class="well"><%= @car_type.car_brand.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_type.parentname')%>:
            </span></dt>
            <dd class="well"><%= @car_type.parentname %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_type.name')%>:
            </span></dt>
            <dd class="well"><%= @car_type.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_type.fullname')%>:
            </span></dt>
            <dd class="well"><%= @car_type.fullname %></dd>
            <!-- <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_type.salestate')%>:
            </span></dt>
            <dd class="well"><%= @car_type.salestate %></dd> -->
            <dd>
              <% @car_type.carmodel.each do |item| %>
                <dt class="label-change">
                  <span class="label-content label-info">
                    <%= item["name"] -%>
                  </span>
                </dt>
                <dd class="well">
                  <%= "#{item["productionstate"]}/#{item["salestate"]}=================#{item["sizetype"]}" %><%= link_to "查看详情》》", "/car_models/#{item["id"]}" -%><br><br>
                  <%= t('activerecord.attributes.car_model.price') %>:<%= item["price"] %><br><br>
                  <img src='<%= item["logo"] -%>' style="width:200px;height:150px;"/>
                </dd>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
