<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.driverexam') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.driverexam'), driverexams_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :edit, Driverexam %>
              <%= link_to edit_driverexam_path(@driverexam), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %> -->

            <%= link_to "#{driverexams_path}?page=#{@page}", :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
              <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.driverexam.subject')%>:
              </span></dt>
              <dd class="well">科目<%= @driverexam.subject %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.driverexam.chapter')%>:
              </span></dt>
              <dd class="well">第<%= @driverexam.chapter_no %>章、<%= @driverexam.chapter %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.driverexam.q_type')%>:
              </span></dt>
              <dd class="well"><%= @driverexam.q_type %></dd>
              <% if !@driverexam.pic.blank? %>
                <dt class="label-change">
                <span class="label-content label-info">
                <%=t('activerecord.attributes.driverexam.pic')%>:
                </span></dt>
                <dd class="well">
                  <img src='<%= @driverexam.pic -%>' style="width:440px;height:300px;"/>
                </dd>
              <% end %>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.driverexam.question')%>:
              </span></dt>
              <dd class="well"><%= @driverexam.question %></dd>
              <dt class="label-change">
              <span class="label-content label-info">选项:</span></dt>
              <dd class="well">
                <% if @driverexam.option1.blank? %>
                  A、对<br><br>B、错
                <% else %>
                  <%= @driverexam.option1 %><br><br><%= @driverexam.option2 %><br><br><%= @driverexam.option3 %><br><br><%= @driverexam.option4 %>
                <% end %>
              </dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.driverexam.answer')%>:
              </span></dt>
              <dd class="well"><%= @driverexam.answer %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.driverexam.explain')%>:
              </span></dt>
              <dd class="well"><%= @driverexam.explain %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
