<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.daxue') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.daxue') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :create, Daxue %>
              <%= link_to new_daxue_path(@daxue), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.daxue')%>
              <% end %>
            <% end %> -->
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.daxue.id') -%></th>
                <th><%=t('activerecord.attributes.daxue.name') -%></th>
                <th><%=t('activerecord.attributes.daxue.author') -%></th>
                <th>操作</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @daxues) do |daxue| %>
                <td><%= daxue.id  -%></td>
                <td><%= daxue.name -%></td>
                <td><%= daxue.author -%></td>
                <% if can? :read, daxue %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{daxue_path(daxue)}" %></td>
                <% end %>
                <!-- <% if can? :edit, daxue %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_daxue_path(daxue) %></td>
                <% end %>
                <% if can? :destroy, daxue %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), daxue, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %> -->
                <td></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
