<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.daxue') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.daxue'), daxues_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Daxue %>
              <%= link_to edit_daxue_path(@daxue), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{daxues_path}?page=#{@page}", :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
              <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.daxue.name')%>:
              </span></dt>
              <dd class="well"><%= @daxue.name %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.daxue.author')%>:
              </span></dt>
              <dd class="well"><%= @daxue.author %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.daxue.content')%>:
              </span></dt>
              <dd class="well"><%= raw  @daxue.content %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.daxue.commentary')%>:
              </span></dt>
              <dd class="well"><%= raw  @daxue.commentary %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.daxue.translation')%>:
              </span></dt>
              <dd class="well"><%= raw  @daxue.translation %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.daxue.appreciation')%>:
              </span></dt>
              <dd class="well"><%= raw  @daxue.appreciation %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.daxue.interpretation')%>:
              </span></dt>
              <dd class="well"><%= raw  @daxue.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
