<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.guiguzi') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.guiguzi') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Guiguzi %>
              <%= link_to new_guiguzi_path(@guiguzi), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.guiguzi')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.guiguzi.id') -%></th>
                                                    <th><%=t('activerecord.attributes.guiguzi.name') -%></th>
                                                                      <th><%=t('activerecord.attributes.guiguzi.chapter') -%></th>
                                                                      <th><%=t('activerecord.attributes.guiguzi.author') -%></th>
                                                                                                                                                                    <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @guiguzis) do |guiguzi| %>
                                <td><%= @page = @page + 1   -%></td>
                                                    <td><%= guiguzi.name -%></td>
                                                                      <td><%= guiguzi.chapter -%></td>
                                                                      <td><%= guiguzi.author -%></td>
                                                                                                                                                                    <% if can? :read, guiguzi %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{guiguzi_path(guiguzi)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, guiguzi %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_guiguzi_path(guiguzi) %></td>
                <% end %>
                <% if can? :destroy, guiguzi %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), guiguzi, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @guiguzis %>
</section>
