<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.today_fortune') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.today_fortune') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, TodayFortune %>
              <%= link_to new_today_fortune_path(@today_fortune), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.today_fortune')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                            <th><%=t('activerecord.attributes.today_fortune.id') -%></th>

                              <th><%=t('activerecord.attributes.today_fortune.tdate') -%></th>

                              <th><%=t('activerecord.attributes.today_fortune.love') -%></th>

                              <th><%=t('activerecord.attributes.today_fortune.health') -%></th>

                              <th><%=t('activerecord.attributes.today_fortune.career') -%></th>

                              <th><%=t('activerecord.attributes.today_fortune.color') -%></th>
<th><%=t('activerecord.attributes.today_fortune.astro') -%></th>
                                              <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @today_fortunes) do |today_fortune| %>
                                <td><%= @page = @page + 1   -%></td>


                <td><%= today_fortune.tdate -%></td>


                <td><%= today_fortune.love -%></td>


                <td><%= today_fortune.health -%></td>


                <td><%= today_fortune.career -%></td>


                <td><%= today_fortune.color -%></td>
                <td><%= today_fortune.astro.name -%></td>
                <% if can? :read, today_fortune %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{today_fortune_path(today_fortune)}" %></td>
                <% end %>
                <% if can? :edit, today_fortune %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_today_fortune_path(today_fortune) %></td>
                <% end %>
                <% if can? :destroy, today_fortune %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), today_fortune, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @today_fortunes %>
</section>
