<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@car_wheel, :html => { :role => "form" }) do |f| %>
        <% if @car_wheel.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@car_wheel.errors.count, "error") %> prohibited this car_wheel from being saved:</h4>

            <ul>
            <% @car_wheel.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        <%= f.label :car_model %>
        <select name="car_wheel[car_model_id]" id = "car_wheel_car_model_id" class="form-control"></select>
      </div>
      <div class="form-group">
        <%= f.label :fronttiresize %>
        <%= f.text_field :fronttiresize, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :reartiresize %>
        <%= f.text_field :reartiresize, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :sparetiretype %>
        <%= f.text_field :sparetiretype, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :hubmaterial %>
        <%= f.text_field :hubmaterial, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</section>

<script type="text/javascript">

  $('#car_wheel_car_model_id').chosen({
    allow_single_deselect: true,
    no_results_text: '没有搜索到结果',
    search_contains: true
  });

  $('#car_wheel_car_model_id').append("<option value=''>选择汽车型号</option>");
  $.get("/find_models",function(data){
    for (var i in data) {
      var obj = data[i];
      $('#car_wheel_car_model_id').append("<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>");
    }
    $('#car_wheel_car_model_id').val("<%= @car_wheel.car_model.nil? ? "" : @car_wheel.car_model.id %>")
    $('#car_wheel_car_model_id').trigger("chosen:updated");

    //如果编辑页面，set原值；
    if(<%= @car_wheel.car_model.nil? %>){
    }else{
      var search_val = "<%=  @car_wheel.car_model.nil? ? "" : @car_wheel.car_model.name %>";
      requesturl = "/search_models?keyword=" + search_val;
      $.get(requesturl,function(data){
        if(data.length > 0){
          var result = "";
          for (var i in data) {
            var obj = data[i];
            if(obj.id == "<%=  @car_wheel.car_model.nil? ? "" : @car_wheel.car_model.id %>"){
              result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
              break;
            }
          }
          $('#car_wheel_car_model_id').html(result);
          $('#car_wheel_car_model_id').prepend("<option value=''>选择员工</option>");
          $('#car_wheel_car_model_id').trigger("chosen:updated");
          $('#car_wheel_car_model_id_chosen input').val(search_val);
        }
      });
    }
  });

  $('#car_wheel_car_model_id_chosen input').on('input',function(){
    var search_val = $(this).val();
    requesturl = "/search_models?keyword=" + search_val;
    $.get(requesturl,function(data){
      if(data.length > 0){
        var result = "";
        for (var i in data) {
        var obj = data[i];
        result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
        }
        $('#car_wheel_car_model_id').html(result);
        $('#car_wheel_car_model_id').prepend("<option value=''>选择汽车型号</option>");
        $('#car_wheel_car_model_id').trigger("chosen:updated");
        $('#car_wheel_car_model_id_chosen input').val(search_val);
      }
    });
  });

</script>
