<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.qianziwen') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.qianziwen') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Qianziwen %>
              <%= link_to new_qianziwen_path(@qianziwen), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.qianziwen')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.qianziwen.id') -%></th>
                                                    <th><%=t('activerecord.attributes.qianziwen.name') -%></th>
                                                                      <th><%=t('activerecord.attributes.qianziwen.author') -%></th>
                                                                                                                              <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @qianziwens) do |qianziwen| %>
                                <td><%= @page = @page + 1   -%></td>
                                                    <td><%= qianziwen.name -%></td>
                                                                      <td><%= qianziwen.author -%></td>
                                                                                                                              <% if can? :read, qianziwen %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{qianziwen_path(qianziwen)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, qianziwen %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_qianziwen_path(qianziwen) %></td>
                <% end %>
                <% if can? :destroy, qianziwen %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), qianziwen, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @qianziwens %>
</section>
