<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@recipe_process, :html => { :role => "form" }) do |f| %>
        <% if @recipe_process.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@recipe_process.errors.count, "error") %> prohibited this recipe_process from being saved:</h4>

            <ul>
            <% @recipe_process.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        <%= f.label :recipe %>
        <select name="process[recipe_id]" id = "process_recipe_id" class="form-control"></select>
      </div>
      <div class="form-group">
        <%= f.label :pcontent %>
        <%= f.text_area :pcontent, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :pic %>
        <%= f.text_field :pic, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</section>

<script type="text/javascript">

  $('#process_recipe_id').chosen({
    allow_single_deselect: true,
    no_results_text: '没有搜索到结果',
    search_contains: true
  });

  $('#process_recipe_id').append("<option value=''>选择菜谱</option>");
  $.get("/find_recipe",function(data){
    for (var i in data) {
      var obj = data[i];
      $('#process_recipe_id').append("<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>");
    }
    $('#process_recipe_id').val("<%= @recipe_process.recipe.nil? ? "" : @recipe_process.recipe.id %>")
    $('#process_recipe_id').trigger("chosen:updated");

    //如果编辑页面，set原值；
    if(<%= @recipe_process.recipe.nil? %>){
    }else{
      var search_val = "<%=  @recipe_process.recipe.nil? ? "" : @recipe_process.recipe.name %>";
      requesturl = "/search_recipe?keyword=" + search_val;
      $.get(requesturl,function(data){
        if(data.length > 0){
          var result = "";
          for (var i in data) {
            var obj = data[i];
            if(obj.id == "<%=  @recipe_process.recipe.nil? ? "" : @recipe_process.recipe.id %>"){
              result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
              break;
            }
          }
          $('#process_recipe_id').html(result);
          $('#process_recipe_id').prepend("<option value=''>选择菜谱</option>");
          $('#process_recipe_id').trigger("chosen:updated");
          $('#process_recipe_id_chosen input').val(search_val);
        }
      });
    }
  });

  $('#process_recipe_id_chosen input').on('input',function(){
    var search_val = $(this).val();
    requesturl = "/search_recipe?keyword=" + search_val;
    $.get(requesturl,function(data){
      if(data.length > 0){
        var result = "";
        for (var i in data) {
        var obj = data[i];
        result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
        }
        $('#process_recipe_id').html(result);
        $('#process_recipe_id').prepend("<option value=''>选择菜谱</option>");
        $('#process_recipe_id').trigger("chosen:updated");
        $('#process_recipe_id_chosen input').val(search_val);
      }
    });
  });

</script>
