<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.car_gearbox') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.car_gearbox') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, CarGearbox %>
              <%= link_to new_car_gearbox_path(@car_gearbox), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.car_gearbox')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                            <th><%=t('activerecord.attributes.car_gearbox.id') -%></th>

                              <th><%=t('activerecord.attributes.car_gearbox.car_model') -%></th>

                              <th><%=t('activerecord.attributes.car_gearbox.gearbox') -%></th>

                              <th><%=t('activerecord.attributes.car_gearbox.shiftpaddles') -%></th>
                                             <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @car_gearboxes) do |car_gearbox| %>
                                <td><%= @page = @page + 1   -%></td>


                  <td><%= car_gearbox.car_model -%></td>


                  <td><%= car_gearbox.gearbox -%></td>


                  <td><%= car_gearbox.shiftpaddles -%></td>
                                                  <% if can? :read, car_gearbox %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{car_gearbox_path(car_gearbox)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, car_gearbox %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_car_gearbox_path(car_gearbox) %></td>
                <% end %>
                <% if can? :destroy, car_gearbox %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), car_gearbox, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @car_gearboxes %>
</section>
