<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.world_record') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.world_record') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :create, WorldRecord %>
              <%= link_to new_world_record_path(@world_record), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.world_record')%>
              <% end %>
            <% end %> -->
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.world_record.id') -%></th>
                <th><%=t('activerecord.attributes.world_record.name') -%></th>
                <th><%=t('activerecord.attributes.world_record.category') -%></th>
                <th><%=t('activerecord.attributes.world_record.pic_url') -%></th>
                <th>查看</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @world_records) do |world_record| %>
                <td><%= @page = @page + 1   -%></td>
                <td><%= world_record.name -%></td>
                <td><%= world_record.category -%></td>
                <td>
                  <% if !world_record.pic_url.blank? %>
                    <img src='<%= world_record.pic_url -%>' style="width:100px;height:100px;"/>
                  <% end %>
                </td>
                <% if can? :read, world_record %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{world_record_path(world_record)}?page=#{current_page}" %></td>
                <% end %>
                <!-- <% if can? :edit, world_record %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_world_record_path(world_record) %></td>
                <% end %>
                <% if can? :destroy, world_record %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), world_record, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %> -->
                <td/>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @world_records %>
</section>
