<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.car_safe') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.car_safe') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, CarSafe %>
              <%= link_to new_car_safe_path(@car_safe), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.car_safe')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.car_safe.id') -%></th>

                <th><%=t('activerecord.attributes.car_safe.car_model') -%></th>

                <th><%=t('activerecord.attributes.car_safe.airbagdrivingposition') -%></th>

                <th><%=t('activerecord.attributes.car_safe.airbagfrontpassenger') -%></th>

                <th><%=t('activerecord.attributes.car_safe.airbagfrontside') -%></th>

                <th><%=t('activerecord.attributes.car_safe.airbagfronthead') -%></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @car_saves) do |car_safe| %>
                <td><%= @page = @page + 1   -%></td>
                <td><%= car_safe.car_model.name -%></td>
                <td><%= car_safe.airbagdrivingposition -%></td>
                <td><%= car_safe.airbagfrontpassenger -%></td>
                <td><%= car_safe.airbagfrontside -%></td>
                <td><%= car_safe.airbagfronthead -%></td>
                <% if can? :read, car_safe %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{car_safe_path(car_safe)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, car_safe %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_car_safe_path(car_safe) %></td>
                <% end %>
                <% if can? :destroy, car_safe %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), car_safe, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @car_saves %>
</section>
