<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.tiangong') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.tiangong'), tiangongs_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Tiangong %>
              <%= link_to edit_tiangong_path(@tiangong), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{tiangongs_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tiangong.name')%>:
            </span></dt>
            <dd class="well"><%= @tiangong.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tiangong.chapter')%>:
            </span></dt>
            <dd class="well"><%= @tiangong.chapter %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tiangong.content')%>:
            </span></dt>
            <dd class="well"><%= raw  @tiangong.content %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tiangong.commentary')%>:
            </span></dt>
            <dd class="well"><%= raw  @tiangong.commentary %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tiangong.appreciation')%>:
            </span></dt>
            <dd class="well"><%= raw  @tiangong.appreciation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tiangong.translation')%>:
            </span></dt>
            <dd class="well"><%= raw @tiangong.translation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tiangong.interpretation')%>:
            </span></dt>
            <dd class="well"><%= raw @tiangong.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
