<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@sanlue, :html => { :role => "form" }) do |f| %>
        <% if @sanlue.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@sanlue.errors.count, "error") %> prohibited this sanlue from being saved:</h4>

            <ul>
            <% @sanlue.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

                  <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %>
          </div>
                  <div class="form-group">
            <%= f.label :author %>
            <%= f.text_field :author, :class => "form-control" %>
          </div>
                  <div class="form-group">
            <%= f.label :chapter %>
            <%= f.text_field :chapter, :class => "form-control" %>
          </div>
                  <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, :class => "form-control" %>
          </div>
                  <div class="form-group">
            <%= f.label :commentary %>
            <%= f.text_area :commentary, :class => "form-control" %>
          </div>
                  <div class="form-group">
            <%= f.label :translation %>
            <%= f.text_area :translation, :class => "form-control" %>
          </div>
                  <div class="form-group">
            <%= f.label :appreciation %>
            <%= f.text_area :appreciation, :class => "form-control" %>
          </div>
                  <div class="form-group">
            <%= f.label :interpretation %>
            <%= f.text_area :interpretation, :class => "form-control" %>
          </div>
                <div class="form-group">
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
