<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.tangshi') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.tangshi') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :create, Tangshi %>
              <%= link_to new_tangshi_path(@tangshi), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.tangshi')%>
              <% end %>
            <% end %> -->
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.tangshi.id') -%></th>
                <th><%=t('activerecord.attributes.tangshi.name') -%></th>
                <th><%=t('activerecord.attributes.tangshi.author') -%></th>
                <th><%=t('activerecord.attributes.tangshi.mtype') -%></th>
                <th>操作</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @tangshis) do |tangshi| %>
                <td><%= @page = @page + 1   -%></td>
                <td><%= tangshi.name -%></td>
                <td><%= tangshi.author -%></td>
                <td><%= tangshi.mtype -%></td>
                <% if can? :read, tangshi %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{tangshi_path(tangshi)}?page=#{current_page}" %></td>
                <% end %>
                <!-- <% if can? :edit, tangshi %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_tangshi_path(tangshi) %></td>
                <% end %>
                <% if can? :destroy, tangshi %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), tangshi, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %> -->
                <td></td>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @tangshis %>
</section>
