<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.tangshi') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.tangshi'), tangshis_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :edit, Tangshi %>
              <%= link_to edit_tangshi_path(@tangshi), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %> -->

            <%= link_to "#{tangshis_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.sid')%>:
            </span></dt>
            <dd class="well"><%= @tangshi.sid %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.name')%>:
            </span></dt>
            <dd class="well"><%= @tangshi.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.author')%>:
            </span></dt>
            <dd class="well"><%= @tangshi.author %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.dynasty')%>:
            </span></dt>
            <dd class="well"><%= @tangshi.dynasty %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.mtype')%>:
            </span></dt>
            <dd class="well"><%= @tangshi.mtype %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.content')%>:
            </span></dt>
            <dd class="well"><%= raw @tangshi.content %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.explanation')%>:
            </span></dt>
            <dd class="well"><%= raw @tangshi.explanation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.appreciation')%>:
            </span></dt>
            <dd class="well"><%= raw @tangshi.appreciation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.translation')%>:
            </span></dt>
            <dd class="well"><%= raw @tangshi.translation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.tags')%>:
            </span></dt>
            <dd class="well"><%= @tangshi.tags %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.tangshi.background')%>:
            </span></dt>
            <dd class="well"><%= raw @tangshi.background %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
