<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.county') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.county') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, County %>
              <%= link_to new_county_path(@county), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.county')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.county.id') -%></th>
                <th><%=t('activerecord.attributes.county.name') -%></th>
                <th><%=t('activerecord.attributes.county.no') -%></th>
                <th><%=t('activerecord.attributes.county.city') -%></th>
                <% if can? :read, County %><th></th><% end %>
                <% if can? :edit, County %><th></th><% end %>
                <% if can? :destroy, County %><th></th><% end %>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 30 -%>
              <%= content_tag_for(:tr, @counties) do |county| %>
                <td><%= @page = @page + 1 -%></td>
                <td><%= county.name -%></td>
                <td><%= county.no -%></td>
                <td><%= county.city.name -%></td>
                <% if can? :read, County %>
                  <td class="list-opertion">
                    <%= link_to t('views.show'), "#{county_path(county)}" %>
                  </td>
                <% end %>
                <% if can? :edit, County %>
                  <td class="list-opertion">
                    <%= link_to t('views.edit'), edit_county_path(county) %>
                  </td>
                <% end %>
                <% if can? :destroy, County %>
                  <td class="list-opertion">
                    <%= link_to t('views.destroy'), county, method: :delete, data: { confirm: t('views.confirm') } %>
                  </td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @counties %>
</section>
