<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.mengzi') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.mengzi') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Mengzi %>
              <%= link_to new_mengzi_path(@mengzi), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.mengzi')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                            <th><%=t('activerecord.attributes.mengzi.id') -%></th>

                              <th><%=t('activerecord.attributes.mengzi.chapter') -%></th>

                              <th><%=t('activerecord.attributes.mengzi.name') -%></th>
                                              <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @mengzis) do |mengzi| %>
                                <td><%= @page = @page + 1   -%></td>


                  <td><%= mengzi.chapter -%></td>


                  <td><%= mengzi.name -%></td>
                                                      <% if can? :read, mengzi %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{mengzi_path(mengzi)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, mengzi %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_mengzi_path(mengzi) %></td>
                <% end %>
                <% if can? :destroy, mengzi %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), mengzi, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @mengzis %>
</section>
