<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.huangdineijing') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.huangdineijing'), huangdineijings_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Huangdineijing %>
              <%= link_to edit_huangdineijing_path(@huangdineijing), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{huangdineijings_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.huangdineijing.name')%>:
            </span></dt>
            <dd class="well"><%= @huangdineijing.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.huangdineijing.chapter')%>:
            </span></dt>
            <dd class="well"><%= @huangdineijing.chapter %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.huangdineijing.content')%>:
            </span></dt>
            <dd class="well"><%= raw  @huangdineijing.content %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.huangdineijing.commentary')%>:
            </span></dt>
            <dd class="well"><%= raw  @huangdineijing.commentary %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.huangdineijing.appreciation')%>:
            </span></dt>
            <dd class="well"><%=  raw @huangdineijing.appreciation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.huangdineijing.translation')%>:
            </span></dt>
            <dd class="well"><%=  raw @huangdineijing.translation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.huangdineijing.interpretation')%>:
            </span></dt>
            <dd class="well"><%= raw  @huangdineijing.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
