<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.astro') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.astro') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Astro %>
              <%= link_to new_astro_path(@astro), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.astro')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                            <th><%=t('activerecord.attributes.astro.id') -%></th>
                              <th><%=t('activerecord.attributes.astro.name') -%></th>
                              <th><%=t('activerecord.attributes.astro.pic') -%></th>
                              <th><%=t('activerecord.attributes.astro.start_date') -%></th>
                              <th><%=t('activerecord.attributes.astro.end_date') -%></th>
                                             <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @astros) do |astro| %>
                                <td><%= @page = @page + 1   -%></td>
                  <td><%= astro.name -%></td>
                  <td><img src='<%= astro.pic -%>' style="width:50px;height:50px;"/></td>
                  <td><%= astro.start_date -%></td>
                  <td><%= astro.end_date -%></td>
                                                  <% if can? :read, astro %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{astro_path(astro)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, astro %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_astro_path(astro) %></td>
                <% end %>
                <% if can? :destroy, astro %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), astro, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @astros %>
</section>
