<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.wenxindiaolong') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.wenxindiaolong') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Wenxindiaolong %>
              <%= link_to new_wenxindiaolong_path(@wenxindiaolong), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.wenxindiaolong')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.wenxindiaolong.id') -%></th>
                <th><%=t('activerecord.attributes.wenxindiaolong.name') -%></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @wenxindiaolongs) do |wenxindiaolong| %>
                <td><%= @page = @page + 1   -%></td>
                <td><%= wenxindiaolong.name -%></td>
                <% if can? :read, wenxindiaolong %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{wenxindiaolong_path(wenxindiaolong)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, wenxindiaolong %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_wenxindiaolong_path(wenxindiaolong) %></td>
                <% end %>
                <% if can? :destroy, wenxindiaolong %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), wenxindiaolong, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @wenxindiaolongs %>
</section>
