<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.guwen') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.guwen') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Guwen %>
              <%= link_to new_guwen_path(@guwen), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.guwen')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                            <th><%=t('activerecord.attributes.guwen.id') -%></th>

                              <th><%=t('activerecord.attributes.guwen.name') -%></th>
<th><%=t('activerecord.attributes.guwen.author') -%></th>
                              <th><%=t('activerecord.attributes.guwen.chapter') -%></th>
                                              <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 30 -%>
              <%= content_tag_for(:tr, @guwens) do |guwen| %>
                                <td><%= @page = @page + 1   -%></td>


                  <td><%= guwen.name -%></td>

<td><%= guwen.author -%></td>
                  <td><%= guwen.chapter -%></td>
                                                      <% if can? :read, guwen %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{guwen_path(guwen)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, guwen %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_guwen_path(guwen) %></td>
                <% end %>
                <% if can? :destroy, guwen %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), guwen, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @guwens %>
</section>
