<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@year_fortune, :html => { :role => "form" }) do |f| %>
        <% if @year_fortune.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@year_fortune.errors.count, "error") %> prohibited this year_fortune from being saved:</h4>

            <ul>
            <% @year_fortune.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        <%= f.label :year %>
        <%= f.number_field :year, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :summary %>
        <%= f.text_area :summary, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :money %>
        <%= f.text_area :money, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :career %>
        <%= f.text_area :career, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :love %>
        <%= f.text_area :love, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :astro %>
        <%= f.text_field :astro, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</section> 