<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@car_drivingauxiliary, :html => { :role => "form" }) do |f| %>
        <% if @car_drivingauxiliary.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@car_drivingauxiliary.errors.count, "error") %> prohibited this car_drivingauxiliary from being saved:</h4>

            <ul>
            <% @car_drivingauxiliary.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        <%= f.label :car_model %>
        <select name="car_drivingauxiliary[car_model_id]" id = "car_drivingauxiliary_car_model_id" class="form-control"></select>
      </div>
      <div class="form-group">
        <%= f.label :abs %>
        <%= f.text_field :abs, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :ebd %>
        <%= f.text_field :ebd, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :brakeassist %>
        <%= f.text_field :brakeassist, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :tractioncontrol %>
        <%= f.text_field :tractioncontrol, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :esp %>
        <%= f.text_field :esp, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :eps %>
        <%= f.text_field :eps, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :automaticparking %>
        <%= f.text_field :automaticparking, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :hillstartassist %>
        <%= f.text_field :hillstartassist, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :hilldescent %>
        <%= f.text_field :hilldescent, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :frontparkingradar %>
        <%= f.text_field :frontparkingradar, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :reversingradar %>
        <%= f.text_field :reversingradar, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :reverseimage %>
        <%= f.text_field :reverseimage, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :panoramiccamera %>
        <%= f.text_field :panoramiccamera, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cruisecontrol %>
        <%= f.text_field :cruisecontrol, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :adaptivecruise %>
        <%= f.text_field :adaptivecruise, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :gps %>
        <%= f.text_field :gps, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :automaticparkingintoplace %>
        <%= f.text_field :automaticparkingintoplace, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :ldws %>
        <%= f.text_field :ldws, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :activebraking %>
        <%= f.text_field :activebraking, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :integralactivesteering %>
        <%= f.text_field :integralactivesteering, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :nightvisionsystem %>
        <%= f.text_field :nightvisionsystem, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :blindspotdetection %>
        <%= f.text_field :blindspotdetection, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</section>

<script type="text/javascript">

  $('#car_drivingauxiliary_car_model_id').chosen({
    allow_single_deselect: true,
    no_results_text: '没有搜索到结果',
    search_contains: true
  });

  $('#car_drivingauxiliary_car_model_id').append("<option value=''>选择汽车型号</option>");
  $.get("/find_models",function(data){
    for (var i in data) {
      var obj = data[i];
      $('#car_drivingauxiliary_car_model_id').append("<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>");
    }
    $('#car_drivingauxiliary_car_model_id').val("<%= @car_drivingauxiliary.car_model.nil? ? "" : @car_drivingauxiliary.car_model.id %>")
    $('#car_drivingauxiliary_car_model_id').trigger("chosen:updated");

    //如果编辑页面，set原值；
    if(<%= @car_drivingauxiliary.car_model.nil? %>){
    }else{
      var search_val = "<%=  @car_drivingauxiliary.car_model.nil? ? "" : @car_drivingauxiliary.car_model.name %>";
      requesturl = "/search_models?keyword=" + search_val;
      $.get(requesturl,function(data){
        if(data.length > 0){
          var result = "";
          for (var i in data) {
            var obj = data[i];
            if(obj.id == "<%=  @car_drivingauxiliary.car_model.nil? ? "" : @car_drivingauxiliary.car_model.id %>"){
              result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
              break;
            }
          }
          $('#car_drivingauxiliary_car_model_id').html(result);
          $('#car_drivingauxiliary_car_model_id').prepend("<option value=''>选择员工</option>");
          $('#car_drivingauxiliary_car_model_id').trigger("chosen:updated");
          $('#car_drivingauxiliary_car_model_id_chosen input').val(search_val);
        }
      });
    }
  });

  $('#car_drivingauxiliary_car_model_id_chosen input').on('input',function(){
    var search_val = $(this).val();
    requesturl = "/search_models?keyword=" + search_val;
    $.get(requesturl,function(data){
      if(data.length > 0){
        var result = "";
        for (var i in data) {
        var obj = data[i];
        result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
        }
        $('#car_drivingauxiliary_car_model_id').html(result);
        $('#car_drivingauxiliary_car_model_id').prepend("<option value=''>选择汽车型号</option>");
        $('#car_drivingauxiliary_car_model_id').trigger("chosen:updated");
        $('#car_drivingauxiliary_car_model_id_chosen input').val(search_val);
      }
    });
  });

</script>
