<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.zizhitongjian') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.zizhitongjian') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Zizhitongjian %>
              <%= link_to new_zizhitongjian_path(@zizhitongjian), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.zizhitongjian')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.zizhitongjian.id') -%></th>
                                                <th><%=t('activerecord.attributes.zizhitongjian.chapter') -%></th>
                                                                <th><%=t('activerecord.attributes.zizhitongjian.name') -%></th>
                                                                <th><%=t('activerecord.attributes.zizhitongjian.author') -%></th>
                                                                <th><%=t('activerecord.attributes.zizhitongjian.content') -%></th>
                                                                <th><%=t('activerecord.attributes.zizhitongjian.commentary') -%></th>
                                                                                                                                                      <th></th>
                <th>操作</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 30 -%>
              <%= content_tag_for(:tr, @zizhitongjians) do |zizhitongjian| %>
                                <td><%= @page = @page + 1   -%></td>
                                                <td><%= zizhitongjian.chapter -%></td>
                                                                <td><%= zizhitongjian.name -%></td>
                                                                <td><%= zizhitongjian.author -%></td>
                                                                <td><%= zizhitongjian.content -%></td>
                                                                <td><%= zizhitongjian.commentary -%></td>
                                                                                                                                                <% if can? :read, zizhitongjian %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{zizhitongjian_path(zizhitongjian)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, zizhitongjian %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_zizhitongjian_path(zizhitongjian) %></td>
                <% end %>
                <% if can? :destroy, zizhitongjian %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), zizhitongjian, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @zizhitongjians %>
</section>
