<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.create')%> <small><%=t('activerecord.models.zizhitongjian') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('views.show'), zizhitongjians_path %></li>
      <li class="active"><%=t('views.create')%></li>
    </ol>
  </section>
<% end %>

<%= render 'form' %>
