<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.zizhitongjian') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.zizhitongjian'), zizhitongjians_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Zizhitongjian %>
              <%= link_to edit_zizhitongjian_path(@zizhitongjian), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{zizhitongjians_path}?page=#{@page}", :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
              <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.chapter')%>:</span>
            </dt>
            <dd class="well"><%= @zizhitongjian.chapter %></dd>
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.name')%>:</span>
            </dt>
            <dd class="well"><%= @zizhitongjian.name %></dd>
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.author')%>:</span>
            </dt>
            <dd class="well"><%= @zizhitongjian.author %></dd>
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.content')%>:</span>
            </dt>
            <dd class="well"><%= raw @zizhitongjian.content %></dd>
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.commentary')%>:</span>
            </dt>
            <dd class="well"><%= raw @zizhitongjian.commentary %></dd>
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.translation')%>:</span>
            </dt>
            <dd class="well"><%= raw @zizhitongjian.translation %></dd>
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.appreciation')%>:</span>
            </dt>
            <dd class="well"><%= raw @zizhitongjian.appreciation %></dd>
            <dt class="label-change">
              <span class="label-content label-info"><%=t('activerecord.attributes.zizhitongjian.interpretation')%>:</span>
            </dt>
            <dd class="well"><%= raw @zizhitongjian.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
