<%% content_for :content_header  do %>
  <section class="content-header">
    <h1><%%=t('views.list')%> <small><%%= t('activerecord.models.<%=singular_table_name%>') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%%=t('views.home')%></a></li>
      <li class="active"><%%= t('activerecord.models.<%=singular_table_name%>') %></li>
    </ol>    
  </section>
<%% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%% if can? :create, <%=singular_table_name.capitalize %> %>
              <%%= link_to new_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%%=t('views.create')%><%%=t('activerecord.models.<%=singular_table_name%>')%>
              <%% end %>
            <%% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
            <% @i = 0 -%>
                <th><%%=t('activerecord.attributes.<%=singular_table_name%>.id') -%></th>
            <% attributes.each do |attribute| -%>

              <% if @i>=5 -%>
                <% next -%>  
              <% end -%>
                <th><%%=t('activerecord.attributes.<%=singular_table_name%>.<%=attribute.name%>') -%></th>
                 <% @i = @i + 1 -%>
            <% end -%>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%% current_page = @page.nil? ? 1 : @page -%>
              <%% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
                <% @j = 0 -%>
                <td><%%= @page = @page + 1   -%></td>
                <% attributes.each do |attribute| -%>

                  <% if @j >=5 -%>
                    <% next -%>  
                  <% end -%>
                  
                  <td><%%= <%= singular_table_name %>.<%= attribute.name %> -%></td>
                  <% @j = @j + 1 -%>
                <% end -%>
                <%% if can? :read, <%=singular_table_name %> %>
                  <td class="list-opertion"><%%= link_to t('views.show'), "#{<%= singular_table_name %>_path(<%= singular_table_name %>)}?page=#{current_page}" %></td>
                <%% end %>
                <%% if can? :edit, <%=singular_table_name %> %>
                  <td class="list-opertion"><%%= link_to t('views.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
                <%% end %>
                <%% if can? :destroy, <%=singular_table_name %> %>
                  <td class="list-opertion"><%%= link_to t('views.destroy'), <%= singular_table_name %>, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <%% end %>

              <%% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%%= paginate @<%=plural_table_name%> %>
</section>

