<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.car_brand') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.car_brand'), car_brands_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :edit, CarBrand %>
              <%= link_to edit_car_brand_path(@car_brand), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %> -->

            <%= link_to "#{car_brands_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_brand.logo')%>:
            </span></dt>
            <dd class="well">
              <img src='<%= @car_brand.logo -%>' style="width:150px;height:150px;"/>
            </dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_brand.name')%>:
            </span></dt>
            <dd class="well"><%= @car_brand.name %></dd>
            <dd>
              <% @car_brand.cartype.each do |item| %>
                <dt class="label-change">
                  <span class="label-content label-info">
                    <%= "#{item["fullname"]}" %>
                  </span>
                </dt>
                <dd class="well">
                  <%= item["salestate"] %>            <%= link_to "查看详情》》", "/car_types/#{item["id"]}" -%><br><br>
                  <img src='<%= item["logo"] -%>' style="width:200px;height:150px;"/>
                </dd>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
