<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.zhuangzi') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.zhuangzi'), zhuangzis_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Zhuangzi %>
              <%= link_to edit_zhuangzi_path(@zhuangzi), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{zhuangzis_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.parent_chapter')%>:
            </span></dt>
            <dd class="well"><%= @zhuangzi.parent_chapter %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.chapter')%>:
            </span></dt>
            <dd class="well"><%= @zhuangzi.chapter %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.name')%>:
            </span></dt>
            <dd class="well"><%= @zhuangzi.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.content')%>:
            </span></dt>
            <dd class="well"><%= raw @zhuangzi.content %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.commentary')%>:
            </span></dt>
            <dd class="well"><%= raw @zhuangzi.commentary %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.translation')%>:
            </span></dt>
            <dd class="well"><%= raw @zhuangzi.translation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.appreciation')%>:
            </span></dt>
            <dd class="well"><%= raw @zhuangzi.appreciation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.zhuangzi.interpretation')%>:
            </span></dt>
            <dd class="well"><%= @zhuangzi.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
