<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.zhouyi') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.zhouyi') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Zhouyi %>
              <%= link_to new_zhouyi_path(@zhouyi), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.zhouyi')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                            <th><%=t('activerecord.attributes.zhouyi.id') -%></th>

                              <th><%=t('activerecord.attributes.zhouyi.name') -%></th>
                                              <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @zhouyis) do |zhouyi| %>
                                <td><%= @page = @page + 1   -%></td>


                  <td><%= zhouyi.name -%></td>
                                                      <% if can? :read, zhouyi %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{zhouyi_path(zhouyi)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, zhouyi %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_zhouyi_path(zhouyi) %></td>
                <% end %>
                <% if can? :destroy, zhouyi %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), zhouyi, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @zhouyis %>
</section>
