<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.xiaolin') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.xiaolin') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Xiaolin %>
              <%= link_to new_xiaolin_path(@xiaolin), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.xiaolin')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.xiaolin.id') -%></th>
                                                <th><%=t('activerecord.attributes.xiaolin.name') -%></th>
                                                                                  <th></th>
                <th>操作</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @xiaolins) do |xiaolin| %>
                                <td><%= @page = @page + 1   -%></td>
                                                <td><%= xiaolin.name -%></td>
                <% if can? :read, xiaolin %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{xiaolin_path(xiaolin)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, xiaolin %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_xiaolin_path(xiaolin) %></td>
                <% end %>
                <% if can? :destroy, xiaolin %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), xiaolin, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @xiaolins %>
</section>
