<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.shanhaijing') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.shanhaijing'), shanhaijings_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Shanhaijing %>
              <%= link_to edit_shanhaijing_path(@shanhaijing), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{shanhaijings_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.shanhaijing.name')%>:
            </span></dt>
            <dd class="well"><%= @shanhaijing.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.shanhaijing.chapter')%>:
            </span></dt>
            <dd class="well"><%= @shanhaijing.chapter %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.shanhaijing.content')%>:
            </span></dt>
            <dd class="well"><%= raw  @shanhaijing.content %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.shanhaijing.commentary')%>:
            </span></dt>
            <dd class="well"><%= raw  @shanhaijing.commentary %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.shanhaijing.appreciation')%>:
            </span></dt>
            <dd class="well"><%= raw  @shanhaijing.appreciation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.shanhaijing.translation')%>:
            </span></dt>
            <dd class="well"><%=  raw @shanhaijing.translation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.shanhaijing.interpretation')%>:
            </span></dt>
            <dd class="well"><%=  raw @shanhaijing.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
