<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.car_light') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.car_light'), car_lights_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, CarLight %>
              <%= link_to edit_car_light_path(@car_light), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{car_lights_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.car_model')%>:
            </span></dt>
            <dd class="well"><%= @car_light.car_model %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.headlighttype')%>:
            </span></dt>
            <dd class="well"><%= @car_light.headlighttype %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.optionalheadlighttype')%>:
            </span></dt>
            <dd class="well"><%= @car_light.optionalheadlighttype %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.headlightautomaticopen')%>:
            </span></dt>
            <dd class="well"><%= @car_light.headlightautomaticopen %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.headlightautomaticclean')%>:
            </span></dt>
            <dd class="well"><%= @car_light.headlightautomaticclean %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.headlightdelayoff')%>:
            </span></dt>
            <dd class="well"><%= @car_light.headlightdelayoff %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.headlightdynamicsteering')%>:
            </span></dt>
            <dd class="well"><%= @car_light.headlightdynamicsteering %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.headlightilluminationadjustment')%>:
            </span></dt>
            <dd class="well"><%= @car_light.headlightilluminationadjustment %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.headlightdimming')%>:
            </span></dt>
            <dd class="well"><%= @car_light.headlightdimming %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.frontfoglight')%>:
            </span></dt>
            <dd class="well"><%= @car_light.frontfoglight %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.readinglight')%>:
            </span></dt>
            <dd class="well"><%= @car_light.readinglight %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.interiorairlight')%>:
            </span></dt>
            <dd class="well"><%= @car_light.interiorairlight %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.daytimerunninglight')%>:
            </span></dt>
            <dd class="well"><%= @car_light.daytimerunninglight %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.ledtaillight')%>:
            </span></dt>
            <dd class="well"><%= @car_light.ledtaillight %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_light.lightsteeringassist')%>:
            </span></dt>
            <dd class="well"><%= @car_light.lightsteeringassist %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
