<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.yuefu') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.yuefu') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Yuefu %>
              <%= link_to new_yuefu_path(@yuefu), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.yuefu')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                            <th><%=t('activerecord.attributes.yuefu.id') -%></th>

                              <th><%=t('activerecord.attributes.yuefu.name') -%></th>

                              <th><%=t('activerecord.attributes.yuefu.chapter') -%></th>
                                              <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @yuefus) do |yuefu| %>
                                <td><%= @page = @page + 1   -%></td>


                  <td><%= yuefu.name -%></td>


                  <td><%= yuefu.chapter -%></td>
                                                      <% if can? :read, yuefu %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{yuefu_path(yuefu)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, yuefu %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_yuefu_path(yuefu) %></td>
                <% end %>
                <% if can? :destroy, yuefu %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), yuefu, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @yuefus %>
</section>
