<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.law') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.law'), laws_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Law %>
              <%= link_to edit_law_path(@law), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{laws_path}?page=#{@page}", :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
              <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.name')%>:
              </span></dt>
              <dd class="well"><%= @law.name %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.pub_department')%>:
              </span></dt>
              <dd class="well"><%= @law.pub_department %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.reference_num')%>:
              </span></dt>
              <dd class="well"><%= @law.reference_num %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.pub_date')%>:
              </span></dt>
              <dd class="well"><%= @law.pub_date %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.exec_date')%>:
              </span></dt>
              <dd class="well"><%= @law.exec_date %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.pub_timeliness')%>:
              </span></dt>
              <dd class="well"><%= @law.pub_timeliness %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.effectiveness_level')%>:
              </span></dt>
              <dd class="well"><%= @law.effectiveness_level %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.regcategory')%>:
              </span></dt>
              <dd class="well"><%= @law.regcategory %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.law.content')%>:
              </span></dt>
              <dd class="well"><%= raw @law.content %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
