<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.town') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.town'), towns_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Town %>
              <%= link_to edit_town_path(@town), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{towns_path}?page=#{@page}", :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
              <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">

            <dt class="label-change">
              <span class="label-content label-info">
                <%=t('activerecord.attributes.town.name')%>:
              </span>
            </dt>
            <dd class="well">
              <%= @town.name %>
            </dd>


            <dt class="label-change">
              <span class="label-content label-info">
                <%=t('activerecord.attributes.town.no')%>:
              </span>
            </dt>
            <dd class="well">
              <%= @town.no %>
            </dd>


            <dt class="label-change">
              <span class="label-content label-info">
                <%=t('activerecord.attributes.town.county')%>:
              </span>
            </dt>
            <dd class="well">
              <%= @town.county.name %>
            </dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
