<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.erya') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.erya') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Erya %>
              <%= link_to new_erya_path(@erya), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.erya')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.erya.id') -%></th>
                                                <th><%=t('activerecord.attributes.erya.name') -%></th>
                                                                <th><%=t('activerecord.attributes.erya.author') -%></th>
                                                                <th><%=t('activerecord.attributes.erya.content') -%></th>
                                                                <th><%=t('activerecord.attributes.erya.commentary') -%></th>
                                                                <th><%=t('activerecord.attributes.erya.translation') -%></th>
                                                                                                                    <th></th>
                <th>操作</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @eryas) do |erya| %>
                                <td><%= @page = @page + 1   -%></td>
                                                <td><%= erya.name -%></td>
                                                                <td><%= erya.author -%></td>
                                                                <td><%= erya.content -%></td>
                                                                <td><%= erya.commentary -%></td>
                                                                <td><%= erya.translation -%></td>
                                                                                                                <% if can? :read, erya %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{erya_path(erya)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, erya %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_erya_path(erya) %></td>
                <% end %>
                <% if can? :destroy, erya %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), erya, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @eryas %>
</section>
