<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.car_engine') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.car_engine'), car_engines_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, CarEngine %>
              <%= link_to edit_car_engine_path(@car_engine), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{car_engines_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.car_model')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.car_model %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.position')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.position %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.model')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.model %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.displacement')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.displacement %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.displacementml')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.displacementml %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.intakeform')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.intakeform %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.cylinderarrangetype')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.cylinderarrangetype %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.cylindernum')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.cylindernum %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.valvetrain')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.valvetrain %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.valvestructure')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.valvestructure %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.compressionratio')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.compressionratio %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.bore')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.bore %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.stroke')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.stroke %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.maxhorsepower')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.maxhorsepower %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.maxpower')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.maxpower %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.maxpowerspeed')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.maxpowerspeed %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.maxtorque')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.maxtorque %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.maxtorquespeed')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.maxtorquespeed %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.fueltype')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.fueltype %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.fuelgrade')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.fuelgrade %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.fuelmethod')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.fuelmethod %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.fueltankcapacity')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.fueltankcapacity %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.cylinderheadmaterial')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.cylinderheadmaterial %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.cylinderbodymaterial')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.cylinderbodymaterial %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.environmentalstandards')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.environmentalstandards %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_engine.startstopsystem')%>:
            </span></dt>
            <dd class="well"><%= @car_engine.startstopsystem %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
