<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.chuci') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.chuci'), chucis_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Chuci %>
              <%= link_to edit_chuci_path(@chuci), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{chucis_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.name')%>:
            </span></dt>
            <dd class="well"><%= @chuci.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.author')%>:
            </span></dt>
            <dd class="well"><%= @chuci.author %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.chapter')%>:
            </span></dt>
            <dd class="well"><%= @chuci.chapter %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.content')%>:
            </span></dt>
            <dd class="well"><%=  raw @chuci.content %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.commentary')%>:
            </span></dt>
            <dd class="well"><%=  raw @chuci.commentary %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.translation')%>:
            </span></dt>
            <dd class="well"><%=  raw @chuci.translation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.appreciation')%>:
            </span></dt>
            <dd class="well"><%=  raw @chuci.appreciation %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.chuci.interpretation')%>:
            </span></dt>
            <dd class="well"><%= raw @chuci.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
