<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.university') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.university') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, University %>
              <%= link_to new_university_path(@university), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.university')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.university.id') -%></th>
                <th><%=t('activerecord.attributes.university.name') -%></th>
                <th><%=t('activerecord.attributes.university.level') -%></th>
                <th><%=t('activerecord.attributes.university.f211') -%></th>
                <th><%=t('activerecord.attributes.university.f985') -%></th>
                <th><%=t('activerecord.attributes.university.schooltype') -%></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 20 -%>
              <%= content_tag_for(:tr, @universities) do |university| %>
                                <td><%= @page = @page + 1   -%></td>
                <td><%= university.name -%></td>
                <td><%= university.level -%></td>
                <td><%= university.f211 -%></td>
                <td><%= university.f985 -%></td>
                <td><%= university.schooltype -%></td>
                <% if can? :read, university %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{university_path(university)}" %></td>
                <% end %>
                <% if can? :edit, university %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_university_path(university) %></td>
                <% end %>
                <!-- <% if can? :destroy, university %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), university, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %> -->
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @universities %>
</section>
