<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.houhanshu') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.houhanshu') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Houhanshu %>
              <%= link_to new_houhanshu_path(@houhanshu), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.houhanshu')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.houhanshu.id') -%></th>
                                                    <th><%=t('activerecord.attributes.houhanshu.name') -%></th>
                                                                      <th><%=t('activerecord.attributes.houhanshu.chapter') -%></th>
                                                                      <th><%=t('activerecord.attributes.houhanshu.author') -%></th>
                                                                                                                                                                    <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 30 -%>
              <%= content_tag_for(:tr, @houhanshus) do |houhanshu| %>
                                <td><%= @page = @page + 1   -%></td>
                                                    <td><%= houhanshu.name -%></td>
                                                                      <td><%= houhanshu.chapter -%></td>
                                                                      <td><%= houhanshu.author -%></td>
                                                                                                                                                                    <% if can? :read, houhanshu %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{houhanshu_path(houhanshu)}?page=#{current_page}" %></td>
                <% end %>
                <% if can? :edit, houhanshu %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_houhanshu_path(houhanshu) %></td>
                <% end %>
                <% if can? :destroy, houhanshu %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), houhanshu, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @houhanshus %>
</section>
