<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.houhanshu') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.houhanshu'), houhanshus_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :edit, Houhanshu %>
              <%= link_to edit_houhanshu_path(@houhanshu), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{houhanshus_path}?page=#{@page}", :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
              <%=t('views.return')%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.name')%>:
              </span></dt>
              <dd class="well"><%= @houhanshu.name %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.chapter')%>:
              </span></dt>
              <dd class="well"><%= @houhanshu.chapter %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.author')%>:
              </span></dt>
              <dd class="well"><%= @houhanshu.author %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.content')%>:
              </span></dt>
              <dd class="well"><%= raw @houhanshu.content %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.commentary')%>:
              </span></dt>
              <dd class="well"><%= raw @houhanshu.commentary %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.appreciation')%>:
              </span></dt>
              <dd class="well"><%= raw @houhanshu.appreciation %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.translation')%>:
              </span></dt>
              <dd class="well"><%= raw @houhanshu.translation %></dd>
              <dt class="label-change">
              <span class="label-content label-info">
              <%=t('activerecord.attributes.houhanshu.interpretation')%>:
              </span></dt>
              <dd class="well"><%= raw @houhanshu.interpretation %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
