<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@car_model, :html => { :role => "form" }) do |f| %>
        <% if @car_model.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@car_model.errors.count, "error") %> prohibited this car_model from being saved:</h4>

            <ul>
            <% @car_model.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        <%= f.label :car_type %>
        <select name="car_model[car_type_id]" id = "car_model_car_type_id" class="form-control"></select>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :logo %>
        <%= f.text_field :logo, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :salestate %>
        <%=
          f.select :salestate, [['在销', '在销'], ['停销', '停销'], ['待销', '待销']],
          {:include_blank => false},
          {:class => 'form-control'}
        %>
      </div>
      <div class="form-group">
        <%= f.label :yeartype %>
        <%=
          f.select :yeartype, [['2018', '2018'], ['2017', '2017'], ['2016', '2016'], ['2015', '2015'], ['2014', '2014'], ['2013', '2013'], ['2012', '2012'], ['2011', '2011'], ['2010', '2010'], ['2009', '2009'], ['2008', '2008']],
          {:include_blank => false},
          {:class => 'form-control'}
        %>
      </div>
      <div class="form-group">
        <%= f.label :productionstate %>
        <%=
          f.select :productionstate, [['在产', '在产'], ['停产', '停产']],
          {:include_blank => false},
          {:class => 'form-control'}
        %>
      </div>
      <div class="form-group">
        <%= f.label :sizetype %>
        <%=
          f.select :sizetype, [['跑车', '跑车'], ['豪华车', '豪华车'], ['微型车', '微型车'], ['小型车', '小型车'], ['紧凑型车', '紧凑型车'], ['中型车', '中型车'], ['中大型车', '中大型车'], ['大型车', '大型车'], ['SUV', 'SUV'], ['小型SUV', '小型SUV'], ['紧凑型SUV', '紧凑型SUV'], ['中型SUV', '中型SUV'], ['中大型SUV', '中大型SUV'], ['MPV', 'MPV'], ['面包车', '面包车'], ['皮卡', '皮卡'], ['客车', '客车'], ['卡车', '卡车']],
          {:include_blank => false},
          {:class => 'form-control'}
        %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</section>

<script type="text/javascript">

  $('#car_model_car_type_id').chosen({
    allow_single_deselect: true,
    no_results_text: '没有搜索到结果',
    search_contains: true
  });

  $('#car_model_car_type_id').append("<option value=''>选择汽车系列</option>");
  $.get("/find_types",function(data){
    for (var i in data) {
      var obj = data[i];
      $('#car_model_car_type_id').append("<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>");
    }
    $('#car_model_car_type_id').val("<%= @car_model.car_type.nil? ? "" : @car_model.car_type.id %>")
    $('#car_model_car_type_id').trigger("chosen:updated");

    //如果编辑页面，set原值；
    if(<%= @car_model.car_type.nil? %>){
    }else{
      var search_val = "<%=  @car_model.car_type.nil? ? "" : @car_model.car_type.name %>";
      requesturl = "/search_types?keyword=" + search_val;
      $.get(requesturl,function(data){
        if(data.length > 0){
          var result = "";
          for (var i in data) {
            var obj = data[i];
            if(obj.id == "<%=  @car_model.car_type.nil? ? "" : @car_model.car_type.id %>"){
              result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
              break;
            }
          }
          $('#car_model_car_type_id').html(result);
          $('#car_model_car_type_id').prepend("<option value=''>选择员工</option>");
          $('#car_model_car_type_id').trigger("chosen:updated");
          $('#car_model_car_type_id_chosen input').val(search_val);
        }
      });
    }
  });

  $('#car_model_car_type_id_chosen input').on('input',function(){
    var search_val = $(this).val();
    requesturl = "/search_types?keyword=" + search_val;
    $.get(requesturl,function(data){
      if(data.length > 0){
        var result = "";
        for (var i in data) {
        var obj = data[i];
        result += "<option title=" + obj.name + " value=" + obj.id + ">" + obj.name + "</option>";
        }
        $('#car_model_car_type_id').html(result);
        $('#car_model_car_type_id').prepend("<option value=''>选择汽车系列</option>");
        $('#car_model_car_type_id').trigger("chosen:updated");
        $('#car_model_car_type_id_chosen input').val(search_val);
      }
    });
  });

</script>
