<style media="screen">
  td{
    vertical-align:middle!important;
  }
</style>
<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.car_model') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.car_model') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, CarModel %>
              <%= link_to new_car_model_path(@car_model), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.car_model')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.car_model.id') -%></th>
                <th><%=t('activerecord.attributes.car_model.logo') -%></th>
                <th><%=t('activerecord.attributes.car_model.name') -%></th>
                <th><%=t('activerecord.attributes.car_model.price') -%></th>
                <th><%=t('activerecord.attributes.car_model.salestate') -%></th>
                <th><%=t('activerecord.attributes.car_model.yeartype') -%></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 10 -%>
              <%= content_tag_for(:tr, @car_models) do |car_model| %>
                <td><%= @page = @page + 1   -%></td>
                <td><img src='<%= car_model.logo -%>' style="width:80px;height:50px;"/></td>
                <td><%= car_model.name -%></td>
                <td><%= car_model.price -%></td>
                <td><%= car_model.salestate -%></td>
                <td><%= car_model.yeartype -%></td>
                <% if can? :read, car_model %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{car_model_path(car_model)}" %></td>
                <% end %>
                <% if can? :edit, car_model %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_car_model_path(car_model) %></td>
                <% end %>
                <% if can? :destroy, car_model %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), car_model, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <%= paginate @car_models %>
</section>
