<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.show')%> <small><%=t('activerecord.models.car_model') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li><%= link_to t('activerecord.models.car_model'), car_models_path %></li>
      <li class="active"><%=t('views.show')%></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <!-- <% if can? :edit, CarModel %>
              <%= link_to edit_car_model_path(@car_model), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <%=t('views.edit')%>
              <% end %>
            <% end %>

            <%= link_to "#{car_models_path}?page=#{@page}", :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%=t('views.return')%>
            <% end %> -->
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_type.logo')%>:
            </span></dt>
            <dd class="well">
              <img src='<%= @car_model.logo -%>' style="width:240px;height:150px;"/>
            </dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_model.car_type')%>:
            </span></dt>
            <dd class="well"><%= @car_model.car_type.fullname %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_model.name')%>:
            </span></dt>
            <dd class="well"><%= @car_model.name %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_model.price')%>:
            </span></dt>
            <dd class="well"><%= @car_model.price %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_model.salestate')%>:
            </span></dt>
            <dd class="well"><%= @car_model.salestate %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_model.yeartype')%>:
            </span></dt>
            <dd class="well"><%= @car_model.yeartype %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_model.productionstate')%>:
            </span></dt>
            <dd class="well"><%= @car_model.productionstate %></dd>
            <dt class="label-change">
            <span class="label-content label-info">
            <%=t('activerecord.attributes.car_model.sizetype')%>:
            </span></dt>
            <dd class="well"><%= @car_model.sizetype %></dd>
            <dt class="label-change"><span class="label-content label-info">基本信息:</span></dt>
            <dd class="well">
              <%= t('activerecord.attributes.car_basic.price') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["price"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.saleprice') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["saleprice"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.warrantypolicy') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["warrantypolicy"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.vechiletax') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["vechiletax"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.displacement') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["displacement"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.gearbox') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["gearbox"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.comfuelconsumption') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["comfuelconsumption"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.userfuelconsumption') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["userfuelconsumption"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.officialaccelerationtime100') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["officialaccelerationtime100"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.maxspeed') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["maxspeed"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.seatnum') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["seatnum"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_basic.testaccelerationtime100') %>：                <span class="label-content label-info"><strong><%= @car_model.basic["testaccelerationtime100"] %></strong></span>
            </dd>
            <dt class="label-change"><span class="label-content label-info">车体信息:</span></dt>
            <dd class="well">
              <%= t('activerecord.attributes.car_body.color') %>：                <span class="label-content label-info"><strong><%= @car_model.body["color"] %></strong></span>
              <br><br>
              长*宽*高（mm）：                <span class="label-content label-info"><strong><%= "#{@car_model.body["len"]}*#{@car_model.body["width"]}*#{@car_model.body["height"]}" %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.wheelbase') %>：                <span class="label-content label-info"><strong><%= @car_model.body["wheelbase"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.fronttrack') %>：                <span class="label-content label-info"><strong><%= @car_model.body["fronttrack"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.reartrack') %>：                <span class="label-content label-info"><strong><%= @car_model.body["reartrack"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.weight') %>：                <span class="label-content label-info"><strong><%= @car_model.body["weight"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.fullweight') %>：                <span class="label-content label-info"><strong><%= @car_model.body["fullweight"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.mingroundclearance') %>：                <span class="label-content label-info"><strong><%= @car_model.body["mingroundclearance"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.approachangle') %>：                <span class="label-content label-info"><strong><%= @car_model.body["approachangle"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.departureangle') %>：                <span class="label-content label-info"><strong><%= @car_model.body["departureangle"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.luggagevolume') %>：                <span class="label-content label-info"><strong><%= @car_model.body["luggagevolume"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.luggagemode') %>：                <span class="label-content label-info"><strong><%= @car_model.body["luggagemode"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.luggageopenmode') %>：                <span class="label-content label-info"><strong><%= @car_model.body["luggageopenmode"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.inductionluggage') %>：                <span class="label-content label-info"><strong><%= @car_model.body["inductionluggage"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.departureangle') %>：                <span class="label-content label-info"><strong><%= @car_model.body["departureangle"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.doornum') %>：                <span class="label-content label-info"><strong><%= @car_model.body["doornum"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.tooftype') %>：                <span class="label-content label-info"><strong><%= @car_model.body["tooftype"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.hoodtype') %>：                <span class="label-content label-info"><strong><%= @car_model.body["hoodtype"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.roofluggagerack') %>：                <span class="label-content label-info"><strong><%= @car_model.body["roofluggagerack"] %></strong></span>
              <br><br>
              <%= t('activerecord.attributes.car_body.sportpackage') %>：                <span class="label-content label-info"><strong><%= @car_model.body["sportpackage"] %></strong></span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
