<% content_for :content_header  do %>
  <section class="content-header">
    <h1><%=t('views.list')%> <small><%= t('activerecord.models.snack') %></small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%=t('views.home')%></a></li>
      <li class="active"><%= t('activerecord.models.snack') %></li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <% if can? :create, Snack %>
              <%= link_to new_snack_path(@snack), :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%=t('views.create')%><%=t('activerecord.models.snack')%>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                                <th><%=t('activerecord.attributes.snack.id') -%></th>
                                                    <th><%=t('activerecord.attributes.snack.name') -%></th>
                                                  <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_page = @page.nil? ? 1 : @page -%>
              <% @page = @page.nil? ? 0 : (@page.to_i - 1) * 20 -%>
              <%= content_tag_for(:tr, @snacks) do |snack| %>
                                <td><%= @page = @page + 1   -%></td>
                                                    <td><%= snack.name -%></td>
                                                  <% if can? :read, snack %>
                  <td class="list-opertion"><%= link_to t('views.show'), "#{snack_path(snack)}" %></td>
                <% end %>
                <% if can? :edit, snack %>
                  <td class="list-opertion"><%= link_to t('views.edit'), edit_snack_path(snack) %></td>
                <% end %>
                <% if can? :destroy, snack %>
                  <td class="list-opertion"><%= link_to t('views.destroy'), snack, method: :delete, data: { confirm: t('views.confirm') } %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @snacks %>
</section>
