<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <a href="/users/<%= current_user.id %>">
        <img src='<%= current_user.avatar_url -%>' class="img-circle" alt="User Image" style="width:45px;height:45px;"/>
      </a>
    </div>
    <div class="pull-left info">
      <p>你好, <%= current_user.name %></p>
      <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
    </div>
  </div>
  <!-- search form -->
  <!--  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form> -->
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
      <i class="fa fa-dashboard"></i> <span>首页</span>
    <% end %>
    <%= treeview_link '交通出行' do %>
      <% if can? :read, Driverexam %>
        <%= nav_link driverexams_path do %>
        <i class="fa fa-angle-double-right"></i>
          驾考题库
        <% end %>
      <% end%>
      <% if can? :read, CarBrand %>
        <%= nav_link car_brands_path do %>
        <i class="fa fa-angle-double-right"></i>
          汽车大全
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '诗词歌赋' do %>
      <% if can? :read, Gushi %>
        <%= nav_link gushis_path do %>
        <i class="fa fa-angle-double-right"></i>
          古诗300首
        <% end %>
      <% end%>
      <% if can? :read, Tangshi %>
        <%= nav_link tangshis_path do %>
        <i class="fa fa-angle-double-right"></i>
          唐诗300首
        <% end %>
      <% end%>
      <% if can? :read, Songci %>
        <%= nav_link songcis_path do %>
        <i class="fa fa-angle-double-right"></i>
          宋词300首
        <% end %>
      <% end%>
      <% if can? :read, Yuanqu %>
        <%= nav_link yuanqus_path do %>
        <i class="fa fa-angle-double-right"></i>
          元曲300首
        <% end %>
      <% end%>
      <% if can? :read, Shijing %>
        <%= nav_link shijings_path do %>
        <i class="fa fa-angle-double-right"></i>
          诗经
        <% end %>
      <% end%>
      <% if can? :read, Yuefu %>
        <%= nav_link yuefus_path do %>
        <i class="fa fa-angle-double-right"></i>
          乐府诗集
        <% end %>
      <% end%>
      <% if can? :read, Chuci %>
        <%= nav_link chucis_path do %>
        <i class="fa fa-angle-double-right"></i>
          楚辞
        <% end %>
      <% end%>
      <% if can? :read, Wenyanwen %>
        <%= nav_link wenyanwens_path do %>
        <i class="fa fa-angle-double-right"></i>
          文言文
        <% end %>
      <% end%>
      <% if can? :read, Book %>
        <%= nav_link books_path do %>
        <i class="fa fa-angle-double-right"></i>
          古籍
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '休闲娱乐' do %>
      <!-- <% if can? :read, MiyuClassify %>
        <%= nav_link miyu_classifies_path do %>
        <i class="fa fa-angle-double-right"></i>
          谜语类别
        <% end %>
      <% end%> -->
      <% if can? :read, Miyu %>
        <%= nav_link miyus_path do %>
        <i class="fa fa-angle-double-right"></i>
          谜语
        <% end %>
      <% end%>
      <% if can? :read, Astro %>
        <%= nav_link astros_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座
        <% end %>
      <% end%>
      <% if can? :read, Music %>
        <%= nav_link musics_path do %>
        <i class="fa fa-angle-double-right"></i>
          音乐
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '日常生活' do %>
      <!-- <% if can? :read, RecipeClassify %>
        <%= nav_link recipe_classifies_path do %>
        <i class="fa fa-angle-double-right"></i>
          菜谱分类
        <% end %>
      <% end%> -->
      <% if can? :read, Recipe %>
        <%= nav_link recipes_path do %>
        <i class="fa fa-angle-double-right"></i>
          菜谱信息
        <% end %>
      <% end%>
      <% if can? :read, FoodNutrition %>
        <%= nav_link food_nutritions_path do %>
        <i class="fa fa-angle-double-right"></i>
          食物营养成分分析
        <% end %>
      <% end%>
      <% if can? :read, Todayhistory %>
        <%= nav_link todayhistories_path do %>
        <i class="fa fa-angle-double-right"></i>
          历史上的今天
        <% end %>
      <% end%>
      <% if can? :read, Huangli %>
        <%= nav_link huanglis_path do %>
        <i class="fa fa-angle-double-right"></i>
          黄历
        <% end %>
      <% end%>
      <% if can? :read, WorldRecord %>
        <%= nav_link world_records_path do %>
        <i class="fa fa-angle-double-right"></i>
          世界之最
        <% end %>
      <% end%>
      <% if can? :read, Airport %>
        <%= nav_link airports_path do %>
        <i class="fa fa-angle-double-right"></i>
          世界各地机场信息
        <% end %>
      <% end%>
      <% if can? :read, Snack %>
        <%= nav_link snacks_path do %>
        <i class="fa fa-angle-double-right"></i>
          全国小吃
        <% end %>
      <% end%>
      <% if can? :read, University %>
        <%= nav_link universities_path do %>
        <i class="fa fa-angle-double-right"></i>
          全国大学
        <% end %>
      <% end%>
      <% if can? :read, Law %>
        <%= nav_link laws_path do %>
        <i class="fa fa-angle-double-right"></i>
          法律法规
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '区划代码和城乡划分代码' do %>
      <% if can? :read, Country %>
        <%= nav_link countries_path do %>
        <i class="fa fa-angle-double-right"></i>
          全球各个国家信息
        <% end %>
      <% end%>
      <% if can? :read, Province %>
        <%= nav_link provinces_path do %>
        <i class="fa fa-angle-double-right"></i>
          省/直辖市
        <% end %>
      <% end%>
      <% if can? :read, City %>
        <%= nav_link cities_path do %>
        <i class="fa fa-angle-double-right"></i>
          城市/区
        <% end %>
      <% end%>
      <% if can? :read, County %>
        <%= nav_link counties_path do %>
        <i class="fa fa-angle-double-right"></i>
          区/县
        <% end %>
      <% end%>
      <% if can? :read, Town %>
        <%= nav_link towns_path do %>
        <i class="fa fa-angle-double-right"></i>
          城镇/街道
        <% end %>
      <% end%>
      <% if can? :read, Village %>
        <%= nav_link villages_path do %>
        <i class="fa fa-angle-double-right"></i>
          村落/居委会
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '健康医疗' do %>
      <% if can? :read, Hospital %>
        <%= nav_link hospitals_path do %>
        <i class="fa fa-angle-double-right"></i>
          全国医院
        <% end %>
      <% end%>
    <% end %>
    <% if current_user.has_role? :admin %>
      <%= treeview_link '系统管理' do %>
        <%= nav_link organizations_path do %>
          <i class="fa fa-angle-double-right"></i>
          部门管理
        <% end %>
        <%= nav_link users_path do %>
          <i class="fa fa-angle-double-right"></i>
          用户管理
        <% end %>
        <%= nav_link  roles_path do %>
          <i class="fa fa-angle-double-right"></i>
          角色管理
        <% end %>
         <%= nav_link permissions_path do %>
          <i class="fa fa-angle-double-right"></i>
          权限管理
        <% end %>
      <% end %>
    <% end %>
  </ul>
</section>

<script type="text/javascript">
  //下面的代码保证每次页面刷新,侧边栏树形结构保证能正常响应事件
  $(document).ready(function(){
    // $(".sidebar .treeview").tree();
    initAdminLTE();
  });
</script>
