<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <a href="/users/<%= current_user.id %>">
        <img src='<%= current_user.avatar_url -%>' class="img-circle" alt="User Image" style="width:45px;height:45px;"/>
      </a>
    </div>
    <div class="pull-left info">
      <p>你好, <%= current_user.name %></p>
      <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
    </div>
  </div>
  <!-- search form -->
  <!--  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form> -->
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
      <i class="fa fa-dashboard"></i> <span>首页</span>
    <% end %>
    <%= treeview_link '汽车大全管理' do %>
      <% if can? :read, CarBrand %>
        <%= nav_link car_brands_path do %>
        <i class="fa fa-angle-double-right"></i>
          汽车品牌管理
        <% end %>
      <% end%>
      <% if can? :read, CarType %>
        <%= nav_link car_types_path do %>
        <i class="fa fa-angle-double-right"></i>
          车系管理
        <% end %>
      <% end%>
      <% if can? :read, CarModel %>
        <%= nav_link car_models_path do %>
        <i class="fa fa-angle-double-right"></i>
          汽车型号管理
        <% end %>
      <% end%>
      <% if can? :read, CarBasic %>
        <%= nav_link car_basics_path do %>
        <i class="fa fa-angle-double-right"></i>
          汽车基本信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarBody %>
        <%= nav_link car_bodies_path do %>
        <i class="fa fa-angle-double-right"></i>
          车体配置信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarEngine %>
        <%= nav_link car_engines_path do %>
        <i class="fa fa-angle-double-right"></i>
          发动机配置信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarGearbox %>
        <%= nav_link car_gearboxes_path do %>
        <i class="fa fa-angle-double-right"></i>
          变速箱配置信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarSafe %>
        <%= nav_link car_saves_path do %>
        <i class="fa fa-angle-double-right"></i>
          安全配置信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarSeat %>
        <%= nav_link car_seats_path do %>
        <i class="fa fa-angle-double-right"></i>
          座椅配置信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarLight %>
        <%= nav_link car_lights_path do %>
        <i class="fa fa-angle-double-right"></i>
          灯光配置信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarWheel %>
        <%= nav_link car_wheels_path do %>
        <i class="fa fa-angle-double-right"></i>
          车轮配置信息管理
        <% end %>
      <% end%>
      <% if can? :read, CarEntcom %>
        <%= nav_link car_entcoms_path do %>
        <i class="fa fa-angle-double-right"></i>
          娱乐配置管理
        <% end %>
      <% end%>
      <% if can? :read, CarInternalconfig %>
        <%= nav_link car_internalconfigs_path do %>
        <i class="fa fa-angle-double-right"></i>
          内部配置管理
        <% end %>
      <% end%>
      <% if can? :read, CarDrivingauxiliary %>
        <%= nav_link car_drivingauxiliaries_path do %>
        <i class="fa fa-angle-double-right"></i>
          行车辅助配置管理
        <% end %>
      <% end%>
      <% if can? :read, CarDoormirror %>
        <%= nav_link car_doormirrors_path do %>
        <i class="fa fa-angle-double-right"></i>
          门窗/后视镜配置管理
        <% end %>
      <% end%>
      <% if can? :read, CarChassisbrake %>
        <%= nav_link car_chassisbrakes_path do %>
        <i class="fa fa-angle-double-right"></i>
          底盘制动配置管理
        <% end %>
      <% end%>
      <% if can? :read, CarAircondrefrigerator %>
        <%= nav_link car_aircondrefrigerators_path do %>
        <i class="fa fa-angle-double-right"></i>
          空调冰箱配置管理
        <% end %>
      <% end%>
      <% if can? :read, CarActualtest %>
        <%= nav_link car_actualtests_path do %>
        <i class="fa fa-angle-double-right"></i>
          实际测试信息管理
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '菜谱管理' do %>
      <% if can? :read, RecipeClassify %>
        <%= nav_link recipe_classifies_path do %>
        <i class="fa fa-angle-double-right"></i>
          菜谱分类管理
        <% end %>
      <% end%>
      <% if can? :read, Recipe %>
        <%= nav_link recipes_path do %>
        <i class="fa fa-angle-double-right"></i>
          菜谱信息管理
        <% end %>
      <% end%>
      <% if can? :read, RecipeMaterial %>
        <%= nav_link recipe_materials_path do %>
        <i class="fa fa-angle-double-right"></i>
          材料管理
        <% end %>
      <% end%>
      <% if can? :read, RecipeProcess %>
        <%= nav_link recipe_processes_path do %>
        <i class="fa fa-angle-double-right"></i>
          步骤管理
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '亲子教育' do %>
      <% if can? :read, Gushi %>
        <%= nav_link gushis_path do %>
        <i class="fa fa-angle-double-right"></i>
          古诗300首
        <% end %>
      <% end%>
      <% if can? :read, Tangshi %>
        <%= nav_link tangshis_path do %>
        <i class="fa fa-angle-double-right"></i>
          唐诗300首
        <% end %>
      <% end%>
      <% if can? :read, Songci %>
        <%= nav_link songcis_path do %>
        <i class="fa fa-angle-double-right"></i>
          宋词300首
        <% end %>
      <% end%>
      <% if can? :read, Yuanqu %>
        <%= nav_link yuanqus_path do %>
        <i class="fa fa-angle-double-right"></i>
          元曲300首
        <% end %>
      <% end%>
      <% if can? :read, Lunyu %>
        <%= nav_link lunyus_path do %>
        <i class="fa fa-angle-double-right"></i>
          论语
        <% end %>
      <% end%>
      <% if can? :read, Mengzi %>
        <%= nav_link mengzis_path do %>
        <i class="fa fa-angle-double-right"></i>
          孟子
        <% end %>
      <% end%>
      <% if can? :read, Daodejing %>
        <%= nav_link daodejings_path do %>
        <i class="fa fa-angle-double-right"></i>
          老子 - 道德经
        <% end %>
      <% end%>
      <% if can? :read, Zhuangzi %>
        <%= nav_link zhuangzis_path do %>
        <i class="fa fa-angle-double-right"></i>
          庄子
        <% end %>
      <% end%>
      <% if can? :read, Shiji %>
        <%= nav_link shijis_path do %>
        <i class="fa fa-angle-double-right"></i>
          史记
        <% end %>
      <% end%>
      <% if can? :read, Shijing %>
        <%= nav_link shijings_path do %>
        <i class="fa fa-angle-double-right"></i>
          诗经
        <% end %>
      <% end%>
      <% if can? :read, Yuefu %>
        <%= nav_link yuefus_path do %>
        <i class="fa fa-angle-double-right"></i>
          乐府诗集
        <% end %>
      <% end%>
      <% if can? :read, Lvshichunqiu %>
        <%= nav_link lvshichunqius_path do %>
        <i class="fa fa-angle-double-right"></i>
          吕氏春秋
        <% end %>
      <% end%>
      <% if can? :read, Guwen %>
        <%= nav_link guwens_path do %>
        <i class="fa fa-angle-double-right"></i>
          古文观止
        <% end %>
      <% end%>
      <% if can? :read, Mengxibitan %>
        <%= nav_link mengxibitans_path do %>
        <i class="fa fa-angle-double-right"></i>
          梦溪笔谈
        <% end %>
      <% end%>
      <% if can? :read, Sunzibingfa %>
        <%= nav_link sunzibingfas_path do %>
        <i class="fa fa-angle-double-right"></i>
          孙子兵法
        <% end %>
      <% end%>
      <% if can? :read, Huangdineijing %>
        <%= nav_link huangdineijings_path do %>
        <i class="fa fa-angle-double-right"></i>
          黄帝内经
        <% end %>
      <% end%>
      <% if can? :read, Sanguozhi %>
        <%= nav_link sanguozhis_path do %>
        <i class="fa fa-angle-double-right"></i>
          三国志
        <% end %>
      <% end%>
      <% if can? :read, Shanhaijing %>
        <%= nav_link shanhaijings_path do %>
        <i class="fa fa-angle-double-right"></i>
          山海经
        <% end %>
      <% end%>
      <% if can? :read, Xuxiake %>
        <%= nav_link xuxiakes_path do %>
        <i class="fa fa-angle-double-right"></i>
          徐霞客游记
        <% end %>
      <% end%>
      <% if can? :read, Shishuoxinyu %>
        <%= nav_link shishuoxinyus_path do %>
        <i class="fa fa-angle-double-right"></i>
          世说新语
        <% end %>
      <% end%>
      <% if can? :read, Soushenji %>
        <%= nav_link soushenjis_path do %>
        <i class="fa fa-angle-double-right"></i>
          搜神记
        <% end %>
      <% end%>
      <% if can? :read, Wenxindiaolong %>
        <%= nav_link wenxindiaolongs_path do %>
        <i class="fa fa-angle-double-right"></i>
          文心雕龙
        <% end %>
      <% end%>
      <% if can? :read, Zhouyi %>
        <%= nav_link zhouyis_path do %>
        <i class="fa fa-angle-double-right"></i>
          周易
        <% end %>
      <% end%>
      <% if can? :read, Tiangong %>
        <%= nav_link tiangongs_path do %>
        <i class="fa fa-angle-double-right"></i>
          天工开物
        <% end %>
      <% end%>
      <% if can? :read, Sanshiliuji %>
        <%= nav_link sanshiliujis_path do %>
        <i class="fa fa-angle-double-right"></i>
          三十六计
        <% end %>
      <% end%>
      <% if can? :read, Chuci %>
        <%= nav_link chucis_path do %>
        <i class="fa fa-angle-double-right"></i>
          楚辞
        <% end %>
      <% end%>
      <% if can? :read, Sanzijing %>
        <%= nav_link sanzijings_path do %>
        <i class="fa fa-angle-double-right"></i>
          三字经
        <% end %>
      <% end%>
      <% if can? :read, Baijiaxing %>
        <%= nav_link baijiaxings_path do %>
        <i class="fa fa-angle-double-right"></i>
          百家姓
        <% end %>
      <% end%>
      <% if can? :read, Qianziwen %>
        <%= nav_link qianziwens_path do %>
        <i class="fa fa-angle-double-right"></i>
          千字文
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '娱乐游戏' do %>
      <% if can? :read, MiyuClassify %>
        <%= nav_link miyu_classifies_path do %>
        <i class="fa fa-angle-double-right"></i>
          谜语类别
        <% end %>
      <% end%>
      <% if can? :read, Miyu %>
        <%= nav_link miyus_path do %>
        <i class="fa fa-angle-double-right"></i>
          谜语
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '生活常用' do %>
      <% if can? :read, Todayhistory %>
        <%= nav_link todayhistories_path do %>
        <i class="fa fa-angle-double-right"></i>
          历史上的今天
        <% end %>
      <% end%>
      <% if can? :read, Huangli %>
        <%= nav_link huanglis_path do %>
        <i class="fa fa-angle-double-right"></i>
          黄历
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '星座算命' do %>
      <% if can? :read, Astro %>
        <%= nav_link astros_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座
        <% end %>
      <% end%>
      <% if can? :read, YearFortune %>
        <%= nav_link year_fortunes_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座年运势
        <% end %>
      <% end%>
      <% if can? :read, MonthFortune %>
        <%= nav_link month_fortunes_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座月运势
        <% end %>
      <% end%>
      <% if can? :read, WeekFortune %>
        <%= nav_link week_fortunes_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座周运势
        <% end %>
      <% end%>
      <% if can? :read, TomorrowFortune %>
        <%= nav_link tomorrow_fortunes_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座明日运势
        <% end %>
      <% end%>
      <% if can? :read, TodayFortune %>
        <%= nav_link today_fortunes_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座当日运势
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '系统管理' do %>
      <%= nav_link organizations_path do %>
        <i class="fa fa-angle-double-right"></i>
        部门管理
      <% end %>
      <%= nav_link users_path do %>
        <i class="fa fa-angle-double-right"></i>
        用户管理
      <% end %>
      <%= nav_link  roles_path do %>
        <i class="fa fa-angle-double-right"></i>
        角色管理
      <% end %>
       <%= nav_link permissions_path do %>
        <i class="fa fa-angle-double-right"></i>
        权限管理
      <% end %>
    <% end %>
  </ul>
</section>

<script type="text/javascript">
  //下面的代码保证每次页面刷新,侧边栏树形结构保证能正常响应事件
  $(document).ready(function(){
    // $(".sidebar .treeview").tree();
    initAdminLTE();
  });
</script>
