<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
      <p>你好, 赵六</p>
      <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
    </div>
  </div>
  <!-- search form -->
  <!--  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form> -->
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
      <i class="fa fa-dashboard"></i> <span>首页</span>
    <% end %>
    <%= treeview_link '销售管理' do %>
      <% if can? :read, Book %>
        <%= nav_link books_path do %>
        <i class="fa fa-angle-double-right"></i>
          书籍管理
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '系统管理' do %>
      <%= nav_link organizations_path do %>
        <i class="fa fa-angle-double-right"></i>
        部门管理
      <% end %>
      <%= nav_link users_path do %>
        <i class="fa fa-angle-double-right"></i>
        用户管理
      <% end %>
      <%= nav_link  roles_path do %>
        <i class="fa fa-angle-double-right"></i>
        角色管理
      <% end %>
       <%= nav_link permissions_path do %>
        <i class="fa fa-angle-double-right"></i>
        权限管理
      <% end %>
    <% end %>
  </ul>
</section>

<script type="text/javascript">
  //下面的代码保证每次页面刷新,侧边栏树形结构保证能正常响应事件
  $(document).ready(function(){
    // $(".sidebar .treeview").tree();
    initAdminLTE();
  });
</script>
