<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <a href="/users/<%= current_user.id %>">
        <img src='<%= current_user.avatar_url -%>' class="img-circle" alt="User Image" style="width:45px;height:45px;"/>
      </a>
    </div>
    <div class="pull-left info">
      <p>你好, <%= current_user.name %></p>
      <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
    </div>
  </div>
  <!-- search form -->
  <!--  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form> -->
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
      <i class="fa fa-dashboard"></i> <span>首页</span>
    <% end %>
    <%= treeview_link '交通出行' do %>
      <% if can? :read, Driverexam %>
        <%= nav_link driverexams_path do %>
        <i class="fa fa-angle-double-right"></i>
          驾考题库
        <% end %>
      <% end%>
      <% if can? :read, CarBrand %>
        <%= nav_link car_brands_path do %>
        <i class="fa fa-angle-double-right"></i>
          汽车大全
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '诗词歌赋' do %>
      <% if can? :read, Gushi %>
        <%= nav_link gushis_path do %>
        <i class="fa fa-angle-double-right"></i>
          古诗300首
        <% end %>
      <% end%>
      <% if can? :read, Tangshi %>
        <%= nav_link tangshis_path do %>
        <i class="fa fa-angle-double-right"></i>
          唐诗300首
        <% end %>
      <% end%>
      <% if can? :read, Songci %>
        <%= nav_link songcis_path do %>
        <i class="fa fa-angle-double-right"></i>
          宋词300首
        <% end %>
      <% end%>
      <% if can? :read, Yuanqu %>
        <%= nav_link yuanqus_path do %>
        <i class="fa fa-angle-double-right"></i>
          元曲300首
        <% end %>
      <% end%>
      <% if can? :read, Shijing %>
        <%= nav_link shijings_path do %>
        <i class="fa fa-angle-double-right"></i>
          诗经
        <% end %>
      <% end%>
      <% if can? :read, Yuefu %>
        <%= nav_link yuefus_path do %>
        <i class="fa fa-angle-double-right"></i>
          乐府诗集
        <% end %>
      <% end%>
      <% if can? :read, Chuci %>
        <%= nav_link chucis_path do %>
        <i class="fa fa-angle-double-right"></i>
          楚辞
        <% end %>
      <% end%>
      <% if can? :read, Wenyanwen %>
        <%= nav_link wenyanwens_path do %>
        <i class="fa fa-angle-double-right"></i>
          文言文
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '古籍' do %>
      <% if can? :read, Book %>
        <%= nav_link books_path do %>
        <i class="fa fa-angle-double-right"></i>
          古籍管理
        <% end %>
      <% end%>
      <%= treeview_link '子部' do %>
        <% if can? :read, Shanhaijing %>
          <%= nav_link shanhaijings_path do %>
          <i class="fa fa-angle-double-right"></i>
            山海经
          <% end %>
        <% end%>
        <% if can? :read, Zhouyi %>
          <%= nav_link zhouyis_path do %>
          <i class="fa fa-angle-double-right"></i>
            周易
          <% end %>
        <% end%>
        <% if can? :read, Guiguzi %>
          <%= nav_link guiguzis_path do %>
          <i class="fa fa-angle-double-right"></i>
            鬼谷子
          <% end %>
        <% end%>
        <% if can? :read, Caigentan %>
          <%= nav_link caigentans_path do %>
          <i class="fa fa-angle-double-right"></i>
            菜根谭
          <% end %>
        <% end%>
        <% if can? :read, Huangdineijing %>
          <%= nav_link huangdineijings_path do %>
          <i class="fa fa-angle-double-right"></i>
            黄帝内经
          <% end %>
        <% end%>
        <% if can? :read, Zengguangxianwen %>
          <%= nav_link zengguangxianwens_path do %>
          <i class="fa fa-angle-double-right"></i>
            增广贤文
          <% end %>
        <% end%>
        <% if can? :read, Guwen %>
          <%= nav_link guwens_path do %>
          <i class="fa fa-angle-double-right"></i>
            古文观止
          <% end %>
        <% end%>
        <% if can? :read, Jingangjing %>
          <%= nav_link jingangjings_path do %>
          <i class="fa fa-angle-double-right"></i>
            金刚经
          <% end %>
        <% end%>
        <% if can? :read, Bencao %>
          <%= nav_link bencaos_path do %>
          <i class="fa fa-angle-double-right"></i>
            本草纲目
          <% end %>
        <% end%>
        <% if can? :read, Mengxibitan %>
          <%= nav_link mengxibitans_path do %>
          <i class="fa fa-angle-double-right"></i>
            梦溪笔谈
          <% end %>
        <% end%>
        <% if can? :read, Shishuoxinyu %>
          <%= nav_link shishuoxinyus_path do %>
          <i class="fa fa-angle-double-right"></i>
            世说新语
          <% end %>
        <% end%>
        <% if can? :read, Xiaolin %>
          <%= nav_link xiaolins_path do %>
          <i class="fa fa-angle-double-right"></i>
            笑林广记
          <% end %>
        <% end%>
        <% if can? :read, Soushenji %>
          <%= nav_link soushenjis_path do %>
          <i class="fa fa-angle-double-right"></i>
            搜神记
          <% end %>
        <% end%>
        <% if can? :read, Tiangong %>
          <%= nav_link tiangongs_path do %>
          <i class="fa fa-angle-double-right"></i>
            天工开物
          <% end %>
        <% end%>
        <% if can? :read, Liaofansixun %>
          <%= nav_link liaofansixuns_path do %>
          <i class="fa fa-angle-double-right"></i>
            了凡四训
          <% end %>
        <% end%>
        <% if can? :read, Sanlue %>
          <%= nav_link sanlues_path do %>
          <i class="fa fa-angle-double-right"></i>
            三略
          <% end %>
        <% end%>
        <% if can? :read, Chaoyeqianzai %>
          <%= nav_link chaoyeqianzais_path do %>
          <i class="fa fa-angle-double-right"></i>
            朝野佥载
          <% end %>
        <% end%>
        <% if can? :read, Mingshu %>
          <%= nav_link mingshus_path do %>
          <i class="fa fa-angle-double-right"></i>
            李虚中命书
          <% end %>
        <% end%>
      <% end%>
    <% end %>
    <%= treeview_link '休闲娱乐' do %>
      <!-- <% if can? :read, MiyuClassify %>
        <%= nav_link miyu_classifies_path do %>
        <i class="fa fa-angle-double-right"></i>
          谜语类别
        <% end %>
      <% end%> -->
      <% if can? :read, Miyu %>
        <%= nav_link miyus_path do %>
        <i class="fa fa-angle-double-right"></i>
          谜语
        <% end %>
      <% end%>
      <% if can? :read, Astro %>
        <%= nav_link astros_path do %>
        <i class="fa fa-angle-double-right"></i>
          星座
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '日常生活' do %>
      <!-- <% if can? :read, RecipeClassify %>
        <%= nav_link recipe_classifies_path do %>
        <i class="fa fa-angle-double-right"></i>
          菜谱分类
        <% end %>
      <% end%> -->
      <% if can? :read, Recipe %>
        <%= nav_link recipes_path do %>
        <i class="fa fa-angle-double-right"></i>
          菜谱信息
        <% end %>
      <% end%>
      <% if can? :read, FoodNutrition %>
        <%= nav_link food_nutritions_path do %>
        <i class="fa fa-angle-double-right"></i>
          食物营养成分分析
        <% end %>
      <% end%>
      <% if can? :read, Todayhistory %>
        <%= nav_link todayhistories_path do %>
        <i class="fa fa-angle-double-right"></i>
          历史上的今天
        <% end %>
      <% end%>
      <% if can? :read, Huangli %>
        <%= nav_link huanglis_path do %>
        <i class="fa fa-angle-double-right"></i>
          黄历
        <% end %>
      <% end%>
      <% if can? :read, WorldRecord %>
        <%= nav_link world_records_path do %>
        <i class="fa fa-angle-double-right"></i>
          世界之最
        <% end %>
      <% end%>
      <% if can? :read, Country %>
        <%= nav_link countries_path do %>
        <i class="fa fa-angle-double-right"></i>
          全球各个国家信息
        <% end %>
      <% end%>
      <% if can? :read, Airport %>
        <%= nav_link airports_path do %>
        <i class="fa fa-angle-double-right"></i>
          世界各地机场信息
        <% end %>
      <% end%>
      <% if can? :read, Snack %>
        <%= nav_link snacks_path do %>
        <i class="fa fa-angle-double-right"></i>
          全国小吃
        <% end %>
      <% end%>
      <% if can? :read, University %>
        <%= nav_link universities_path do %>
        <i class="fa fa-angle-double-right"></i>
          全国大学
        <% end %>
      <% end%>
      <% if can? :read, Law %>
        <%= nav_link laws_path do %>
        <i class="fa fa-angle-double-right"></i>
          法律法规
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '健康医疗' do %>
      <% if can? :read, Hospital %>
        <%= nav_link hospitals_path do %>
        <i class="fa fa-angle-double-right"></i>
          全国医院
        <% end %>
      <% end%>
    <% end %>
    <%= treeview_link '系统管理' do %>
      <%= nav_link organizations_path do %>
        <i class="fa fa-angle-double-right"></i>
        部门管理
      <% end %>
      <%= nav_link users_path do %>
        <i class="fa fa-angle-double-right"></i>
        用户管理
      <% end %>
      <%= nav_link  roles_path do %>
        <i class="fa fa-angle-double-right"></i>
        角色管理
      <% end %>
       <%= nav_link permissions_path do %>
        <i class="fa fa-angle-double-right"></i>
        权限管理
      <% end %>
    <% end %>
  </ul>
</section>

<script type="text/javascript">
  //下面的代码保证每次页面刷新,侧边栏树形结构保证能正常响应事件
  $(document).ready(function(){
    // $(".sidebar .treeview").tree();
    initAdminLTE();
  });
</script>
